@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


header{
    height:220px;
    display: flex;
}
body{
    margin-left: 350px;
    margin-right: 350px;
}

section {
	background-color : aliceblue;
	height : auto;
	display: flex;
	width : auto;
}

section::after { /*콜론을 2개 넣어서 이제부터 내가 시작한다는 것을 알림*/
    content: "";
    display: table;
    clear: both;
}

form {
	float : left;
	font-family: 'SUITE-Regular';
	width : 20%;
}

table {
	width : 80%;
	float : right;
}

#qna_title{
  	width:200px;
  	height:100px;
}

#qna_text{
	width : 100;	
}

#fileInput {
	float : left;
}

#submitButton {
	float : right;
}
button {
	float : right;
}

h1 {
	text-align : center;
}


#login-join-link{
    text-align: right;
    line-height: 0;
}
#gajimarket{
    color: #6C44BB;
    text-shadow: 10px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: 'LOTTERIACHAB';
    font-size: 80pt;
    margin-left: 275px;
    line-height: 0;
    letter-spacing: 10px;
}
#gajidori{
    width: 140px;
    margin-left: 25px;
}
nav{
    background-color: lavender;
}
ul li{
    display: inline-block;
    font-family: 'SUITE-Regular';
    font-size: 20pt;
    margin-left: 115px;
}

li {
    position: relative;
}
li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg, #6C44BB, #6DA44C); /*밑줄*/
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}  
li a:hover:before, li a:focus:before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}
li a:hover:after, li a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}